.gomoku {
  margin-left: 15vw;
  width: calc( (25vh + 25vw) ) ;
  max-height: calc( (21vh + 21vw) * 2 );
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.gomoku > h1 {
  color: green;
}

.gmkBoard {
  background-color: #fbd681;
  width: calc( (23vh + 23vw) ) ;
  height: calc( (23vh + 23vw) );
  margin-top: calc(1vh + 1vw);
  padding-top: calc(2vh + 2vw);
  display: inherit;
  flex-wrap: inherit;
  justify-content: center;

}

.gmkGrid{
  width: calc( (19.1vh + 19.1vw) ) ;
  height: calc( (19.1vh + 19.1vw) ) ;

  border-top: calc(0.01vh + 0.01vw) solid black;
  border-left: calc(0.01vh + 0.01vw) solid black;
  display: inherit;
  flex-wrap: inherit;
}

.box-gmkBoard {
  width: calc( (19vh + 19vw)/19);
  height: calc( (19vh + 19vw)/19);
  line-height: calc( (19vh + 19vw)/19);
  justify-content: center;
  text-align: center;
  display: flex;
  border-right: calc(0.01vh + 0.01vw) solid black;
  border-bottom: calc(0.01vh + 0.01vw) solid black;

}

.box-gmkBoard  > p {
  font-size: calc(1vh + 1vw);
  margin: auto;
  text-align: center;
  padding-top: calc(0.05vh + 0.05vw);
  justify-content: center;
}


.box-gmkBoard:hover{
  background-color: white;
  cursor: pointer;
}

.gmk-white{
  background-color: white;
}

.gmk-black{
  background-color: grey;
}

.gmkBoardTitle{
  align-self: center;
}

.board-button{
  margin-top: 1em;
  max-width: calc( (19.1vh + 19.1vw) /2 );
  /*Stay in the middle of the board*/
}

.board-button-secondary{
}
