.tictactoe{
  margin-left: 25vw;
  width: calc( (20vh + 20vw) ) ;
  max-height: calc( (20vh + 20vw) * 2 );
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.tictactoe > h1 {
  color: green;
}
.tttBoard {
  border-bottom: 0.5vw solid black;
  display: inherit;
  flex-wrap: inherit;
}

.box-tttBoard {
  width: calc( (20vh + 20vw)/3);
  height: calc( (20vh + 20vw)/3);
  line-height: calc( (20vh + 20vw)/3);
  background-color: white;
  justify-content: center;
  text-align: center;
  display: flex;
}

.box-tttBoard  > p {
  font-size: 6em;
  margin: auto;
  text-align: center;
}

.box-tttBoard:nth-child(n){/*1 2 3 4 5 6*/
  border-top: 0.5vw solid black;
}


.box-tttBoard:nth-child(3n-2){/*1 4 7*/
  border-right: 0.5vw solid black;
  border-left: 0.5vw solid black;
}

.box-tttBoard:nth-child(3n-2){/*1 4 7*/
  border-right: 0.5vw solid black;
  border-left: 0.5vw solid black;
}

.box-tttBoard:nth-child(3n){ /*3 6 9*/
  border-right: 0.5vw solid black;
  border-left: 0.5vw solid black;
}

.box-tttBoard:hover{
  background-color: grey;
  cursor: pointer;
}

.tttBoardTitle{
  align-self: center;
}

.board-button{
  margin-top: 1em;
  /*Stay in the middle of the board*/
}

.board-button-secondary{
}
